<template>
  <v-row>
    <v-col cols="12">
      <VBoilerplate v-if="false" type="table"/>
      <VRecordsTable v-else
        ref="valpha"
        :json="data"
        :fieldRenderFunctions="fieldRenderFunctions"
      />
    </v-col>
  </v-row>
</template>

<script>
import {VRecordsTable} from 'valpha'
import VBoilerplate from '@/components/layout/VBoilerplate'
import data from '@/static/data.json'

const fieldRenderFunctions = {
  array: (id, field, record) => {
    let n = id.replace('record', '')
    if (n % 2 === 0) return record[field]
    return `${record[field].length}-len array`
  },
  arrobj: (id, field, record) => {
    let n = id.replace('record', '')
    if (n % 2 === 0) return `${record[field].length}-len obj-array`
    let v = record[field][record[field].length-1].v
    return `last obj val ${v}`
  },
  url: (id, field, record) => {
    let n = id.replace('record', '')
    let u = `<a href="${record[field]}">link</a>`
    if (n % 2 === 0) return `${u}`
    return record[field]
  }
}



export default {
  components: {
    VBoilerplate, VRecordsTable
  },
  data: () => ({
    fieldRenderFunctions,
    data
  })
}
</script>

<style>
</style>
