<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <keep-alive>
          <component
            :is="'Wrapper'"
          />
        </keep-alive>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Wrapper from '@/components/Wrapper'
export default {
  components: {
    Wrapper
  },
  data: () => ({

  }),
}
</script>
